body {
  background-image: url(./yellow-lemon.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 90px;
  font-family: "Bebas Neue", cursive;
  text-align: center;
}

nav {
  float: right;
  flex-direction: row;
  font-size: 20px;
}

nav ul {
  list-style: none;
  font-style: oblique;
}

nav ul li {
  display: inline;
  padding: 5px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

h1 {
  font-style: oblique;
}

p {
  height: 100px;
  width: 400px;
  font-size: 20px;
}

.logo-ul {
  float: right;
  list-style: none;
  margin: 15px;
}

.logo-ul li {
  padding: 12px;
}

button {
  border: 2px solid black;
  color: #fdd130;
  background-color: black;
  font-size: 20px;
  font-style: oblique;
  font-family: "Bebas Neue", cursive;
  transition: all 300ms transparent;
  cursor: pointer;
  padding: 10px 16px;
}

button:hover {
  color: black;
  background-color: transparent;
}

.box-btn {
  position: relative;
}

.btn {
  position: absolute;
  left: 0;
}
