body {
  background-color: #fded55;
}

nav {
  position: relative;
}

nav ul {
  display: inline-flex;
  float: right;
}

nav ul li {
  list-style: none;
  padding: 5px;
  font-weight: bold;
  margin-right: 10px;
}

.text {
  padding: 200px;
  width: 300px;
  height: 100px;
}
